.btn-warning {
    background-color: rgb(255, 136, 0);
    border-color: rgb(255, 136, 0);
    color: rgb(255, 255, 255);
}

.text-left {
    display: inline-block;
    text-align: left;
}

.comon-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
    text-align: right;
    margin-right: 15px;
}

/* .width {
    width: 80px;
} */